---
import Page from '../layouts/Page.astro';
---

<Page>
    <p>Independent (posthumanist) research collective. Working on AI, VR and their intersection. Operating beyond borders.</p>
    <h2>Publications:</h2>
    <p><a href="/aposthumanframework">A Posthuman Framework for the Digital Age</a> by <a href="https://rudyon.io">rudyon</a> 20/07/2025</p>
    <h2>Contact:</h2>
    <p>For the time being, send everything to <a href="mailto:contact@kanarya.group">contact@kanarya.group</a>.</p>
</Page>